.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    height: 100px;
}

.heroSmall {
    width: 100%;
    height: 300px;
    background: url("../../assets/images/foundation-with-dark-background_fp.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroSmallImage {
    width: 40%;
}

.contentSection {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
    padding-top: 2rem;
}

.productContainer {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* TABLET */
@media (min-width: 768px) {
    .productContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* DESKTOP */
@media (min-width: 992px) {
    .productContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* LARGE DESKTOP */
@media (min-width: 1300px) {
    .productContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}
