.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    height: 100px;
}

.heroSmall {
    width: 100%;
    height: 800px;
    background: linear-gradient(to right, rgba(27, 27, 27, 1), rgba(27, 27, 27, 0), rgba(27, 27, 27, 1)), url("../../assets/images/foundation-with-dark-background.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroSmallImage {
    width: 40%;
}

.contentSection {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
