header {
    display: flex;
    padding: var(--spacing-4) 3rem;
    background: var(--secondary);
    color: white;
}

.logo {
    height: 75px;
}

.contentWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

/* TABLET */
@media (min-width: 768px) {
    .contentWrap {
        flex-direction: row;
        align-items: normal;
    }
}
