header {
    display: flex;
    padding: 1rem 3rem;
    background: var(--secondary);
    color: white;
}

.logo {
    height: 75px;
}

.contentWrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
