.productPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.productImageLarge {
    height: 100%;
    object-fit: cover;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
    gap: 1rem;
    width: 80%;
}

.productInfo h2 {
    font-size: 1.8rem;
}

.divider {
    height: 1px;
    width: 40%;
    background-color: var(--secondary);
}

.divider.second {
    width: 100%;
}

.checkoutBack {
    align-self: flex-end;
}
