.item {
    background-color: #eee;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 300px;
    gap: 1rem;
    color: black;
}

.item > * {
    font-size: 1rem;
}

.itemImg {
    height: 100%;
    aspect-ratio: 1 / 1;
    width: 30%;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.itemPrice {
    margin-left: auto;
    padding: 1rem 1rem 1rem 0;
}
