.card {
    background-color: #eee;
    width: 100%;
    display: flex;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

.card a {
    height: 100%;
}

.productImage {
    height: 100%;
    aspect-ratio: 1 / 1;
    max-width: 200px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.cartItemText {
    display: flex;
    flex-direction: column;
}

.ctaContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.ctaContainer span {
    color: black;
}

a {
    height: 50%;
}

.priceContainer {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}

.strikethrough {
    text-decoration: line-through;
}

.discountPriceContainer {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
