.card {
    background-color: #eee;
    width: 100%;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

.card a {
    height: 100%;
}

.productImage {
    height: 100%;
    aspect-ratio: 1 / 1;
    max-width: 100px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.cartItemText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.ctaContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.ctaContainer span {
    color: black;
    font-size: 18px;
}

a {
    height: 50%;
}

.priceContainer {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.strikethrough {
    text-decoration: line-through;
}

.discountPriceContainer {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* TABLET */
@media (min-width: 768px) {
    .productImage {
        max-width: 150px;
    }
}

/* DESKTOP */
@media (min-width: 992px) {
    .productImage {
        max-width: 200px;
    }
}

/* LARGE DESKTOP */
@media (min-width: 1300px) {
}
