.card {
    background-color: #eee;
    width: 100%;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(0 0 0 / 0.3);
}

.card a {
    height: 100%;
}

.productImage {
    height: 100%;
    aspect-ratio: 1 / 1;
    width: clamp(0vw, 150px, 200px);
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}

.cartItemText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--spacing-4);
}

.ctaContainer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacing-4);
}

.ctaContainer span {
    color: black;
    font-size: 18px;
}

a {
    height: 50%;
}

.priceContainer {
    display: flex;
    align-items: flex-end;
    gap: var(--spacing-2);
}

.strikethrough {
    text-decoration: line-through;
}

.discountPriceContainer {
    color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
